<!DOCTYPE html>
<html lang="en">
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="eny">
                    <div class="avatar">
                        
                        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" alt="">
                    </div>
                    <div class="ent">
                        <h3><%= user.username %>#<%= user.discriminator %></h3>

                        <% let roles = bot.guilds.cache.get('700208007530676314').members.cache.get(user.id).roles.cache.sort((a, b) => b.position - a.position) %>
                        
                        
                        <% if(roles !== null) { let [firstRole, secondRole] = roles } %>

                    <% if(firstRole !== null) { %>
                        <span><i class="fas fa-circle" style="color: #<%= bot.guilds.cache.get('700208007530676314').roles.cache.get(firstRole[0]).color.toString(16) %>; }"></i><style="font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;"> <%= bot.guilds.cache.get('700208007530676314').roles.cache.get(firstRole[0]).name %></style></span>
                    <% } %>
                    <% if (secondRole !== null || bot.guilds.cache.get('700208007530676314').roles.cache.get(secondRole[0]).name != "@everyone") { %>
                        <span><i class="fas fa-circle" style="color: #<%= bot.guilds.cache.get('700208007530676314').roles.cache.get(secondRole[0]).color.toString(16) %>; }"></i> <%= bot.guilds.cache.get('700208007530676314').roles.cache.get(secondRole[0]).name %></span>
                    <% } %>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="logo">
                    <img src="public/images/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-4 text-right">
                <div class="coin">
                    <div class="avatar">
                        <img style="width: 40px" src="public/images/coin.png" alt="">
                    </div>
                    <div class="ent">
                        132,103
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
